.button {
  background-color: #202428;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333a45;
}

.button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
