.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px; /* Height of the navbar */
  background-image: linear-gradient(to bottom right, #e5deff, #fde1d3, #fec6a1);
  min-height: 100vh;
  height: 100%;
}

.content {
  flex: 1;
  padding-bottom: 50px; /* Ensure content does not overlap with navbar */
}
