.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 80px; /* Adjusted to account for the navbar height */
}

.spinner {
  margin: 20px;
}

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px;
}

.floating-button {
  position: fixed;
  bottom: 80px; /* Adjusted to be above the navbar */
  right: 20px;
  background-color: #1da1f2;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  z-index: 1000; /* Ensure it's above other elements */
}

.floating-button:hover {
  background-color: #0d8ddb;
}

.feather-icon {
  font-size: 24px;
}
