.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #202428;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.nav-link:hover {
  background-color: #333a45;
  border-radius: 5px;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}
