.icon-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.icon-button:hover {
  opacity: 0.8;
}

.icon-button-text {
  font-size: 12px;
  color: gray;
}
