.post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.post-container {
  width: 100%;
  max-width: 800px;
}

.comments-container {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 70px;
}

.comments-list {
  width: 100%;
}

.comment-input-container {
  width: 100%;
  max-width: 600px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 65px;
}

.comment-button:hover {
  background-color: #1da1f2;
}

.comment-button:disabled {
  background-color: #a0d3ff;
  cursor: not-allowed;
}

.spinner {
  font-size: 24px;
  color: #007bff;
  margin-top: 20px;
}

.empty-comments {
  color: grey;
  margin-top: 20px;
}

.commenting-text {
  padding-right: 10px;
  margin-top: 10px;
}

.error-text {
  color: red;
  margin-top: 10px;
}
