.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 100vh;
}

.title {
  font-size: 30px;
  margin: 5px 0;
}

.button {
  background-color: #050a12;
  height: 50px;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 5px 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333a45;
}

.disabledButton {
  background-color: lightgray;
  cursor: not-allowed;
}