.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 100vh;
}

.link-style {
  padding: 0 5px;
}

.signin-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.signin-prompt .line {
  flex-grow: 1;
  height: 2px;
  background: #cbc3be;
  margin: 0 10px;
}
